<script>
    $(document).ready(function() {
        showLoading();
        $.ajax ({
            method: 'GET',
            url: '/hjapp_server/api/list',
            success: function(response){
                var row = ""
                array = response.data
                var table = $('#myTable').DataTable();
                for (var i = 0; i <= array.length; i++) {
                    table.row.add([
                        i + 1,
                        array[i].message,
                        array[i].total,
                        array[i].file_name,
                        array[i].failed_at,
                        `<div class="d-flex justify-content-center">
                            <a href="hjapp_server/errors?hash=${array[i].hash}" class="btn btn-primary">More</a>
                        </div>`
                    ]).draw(false);
                }
            }            
        })
        hideLoading();
    })

</script>



