<script>
    showLoading();
    $(document).ready(function() {
        var urlParams = new URLSearchParams(window.location.search);
        var errorHash = urlParams.get('hash');
        errorHash = errorHash.replace(/'/g, '');
        var endpoint = 'http://127.0.0.1:8889/hjm3u8/api/' + errorHash;
        $('#myTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": endpoint,
                "type": "GET",
                "dataSrc": "data"
            },
            "columns": [
                { "data": "id"},
                { "data": "message" },
                { "data": "stack_trace" },
                { "data": "failed_at" }
            ]
        });
        hideLoading();
    })
    
</script>