<div class="container pt-5">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">{{ .Title }}</h3>
            </div>
            <div class="card-body">
                <div class="table table-responsive" width="100%">
                    <table class="table table-striped table-bordered mt-3"  id="myTable" style="max-width: 2000px;">
                        <thead>
                          <th>No</th>
                          <th>Error Message</th>
                          <th>Total</th>
                          <th>File</th>
                          <th>Last failed</th>
                          <th>Action</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<script>
    function showLoading() {
        document.getElementById('loadingIndicator').style.display = 'block';
        document.getElementById('content').style.display = 'none';
    }
    
    function hideLoading() {
    $('#loadingIndicator').slideUp(300, function() {
        $('#content').slideDown(300);
    });
    }

    function fetchData(url) {
        showLoading();
        return $.ajax({
            method: 'GET',
            url : url
        });
    }
    
    fetchData('/hjqueue/api/list')
        .then(response => {
            setTimeout(function() {
                array = response.data
                console.log(response.data);
                var table = $('#myTable').DataTable();
                for (var i = 0; i <= array.length; i++) {
                    table.row.add([
                        i + 1,
                        array[i].message,
                        array[i].total,
                        array[i].file_name,
                        array[i].failed_at,
                        `<div class="d-flex justify-content-center">
                            <a href="hjqueue/errors?hash=${array[i].hash}" class="btn btn-primary">More</a>
                        </div>`
                    ]).draw(false);
                }
            }, 2000);
            hideLoading();
        })
        .catch(error => {
            console.error('Error:', error);
        });
</script>



