    {{  template "header.html"}}
    <div class="container py-5">
        <h1>Error Logs</h1>
        <div class="row py-3">
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Chat Server</h5>
                <p class="card-text">Chat Server error logs.</p>
                <a href="chat_server" class="btn  btn-primary ho">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">HJ Api</h5>
                <p class="card-text">HJ Api error logs.</p>
                <a href="hjapi" class="btn  btn-primary ho">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">HJ App Server</h5>
                <p class="card-text">HJ App Server error logs.</p>
                <a href="hjapp_server" class="btn  btn-primary ho">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">HJ M3u8</h5>
                <p class="card-text">HJ M3u8 error logs.</p>
                <a href="hjm3u8" class="btn  btn-primary ho">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">HJ Admin</h5>
                <p class="card-text">HJ Admin error logs.</p>
                <a href="hjadmin" class="btn  btn-primary ho">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">HJ Queue</h5>
                <p class="card-text">HJ Queue error logs.</p>
                <a href="hjqueue" class="btn  btn-primary ho">Go</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{  template "footer.html"}}
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>